* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:tan;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    background-color: #e6d7c1;
    color: #474444;
    text-decoration: none;
    margin: 20px;
    padding: 10px 12px;
}